body{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#slides{
    margin: 0 auto 0 auto;
    text-align: center;
    padding-top: 10%;
    color: black;
}
h2{
    font-family: Secular One;
    font-weight: 900;
    font-size: 3.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
h4{
    font-family: Inconsolata;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
}
#time{
    margin-top: 13%;
    text-align: center;
}
.btn{
    font-size: 2rem;
}